body {
background-image: url(../public/imagem.jpg);
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: white;
    animation: animationTitle 2s;
}

@keyframes animationTitle {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}

.Input_Main{
    display: flex;
    padding: 15px;
    margin: 35px 0;
    border-radius: 8px;
    box-shadow: 1px 3px 8px ;
}

.Input_Main input {
    background-color: transparent;
    border: 0;
    outline: none;
    color: white;
    font-size: 15px;
    margin-right: 5px;
}

.Input_Main input::placeholder {
    color: gray;
}

.Search_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
}

.Search_button:hover{
    transform: scale(1.2);
}

.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 400px;
    border-radius: 8px;
}

.Main h2 {
    margin: 15px 0;
}

.Main span {
    margin-bottom: 15px;
}

.assinatura {
display: flex;
float: left;
color: white;
}